<div class="main-div">
    <div class="content">
        <h3 class="content-heading">JAVA Tutorial</h3>
        <div class="content-list">
            <p><a routerLink="/page1">Introduction to JAVA</a></p>
            <p><a routerLink="/page2">Environment Setup</a></p>
            <p><a routerLink="/page3">First Program</a></p>
            <p><a routerLink="/page4">DataTypes, Variables</a></p>
            <p><a routerLink="/page5">Type conversion</a></p>
            <p><a routerLink="/page6">Classes & Objects</a></p>
            <p><a routerLink="/page7">Static Keyword</a></p>

            <p><a routerLink="/page8" class="active">Wrapper classes</a></p>

            <p><a routerLink="/page9">Command Line Arguments</a></p>
            <p><a routerLink="/page10">Use of Import</a></p>
            <p><a routerLink="/page11">Constructor</a></p>
            <p><a routerLink="/page12">Inheritance</a></p>
            <p><a routerLink="/page13"></a></p>
            <p><a routerLink="/page14"></a></p>
            <p><a routerLink="/page15"></a></p>
            <p><a routerLink="/page16"></a></p>
            <p><a routerLink="/page17"></a></p>
            <p><a routerLink="/page18"></a></p>
            <p><a routerLink="/page19"></a></p>
            <p><a routerLink="/page20"></a></p>
            <p><a routerLink="/page21"></a></p>
            <p><a routerLink="/page22"></a></p>
            <p><a routerLink="/page23"></a></p>
            <p><a routerLink="/page24"></a></p>
            <p><a routerLink="/page25"></a></p>
            <p><a routerLink="/page26"></a></p>
            <p><a routerLink="/page27"></a></p>
        </div>
    </div>

    <div class="page-navigation">
        <div>
            <a routerLink="/page7"><button class="previous round">&#8249;&#8249; Previous</button></a>
        </div>
        <div>
            <a routerLink="/page9"><button class="next round">Next &#8250;&#8250;</button></a>
        </div>
    </div>

</div>