<!-- <div class="maincheck">
    <div class="makecircle"></div>

    <div class="imagediv">
        <img class="homeimg" src="assets/home/HomeJava1.jpg" alt="">
    </div>
</div>

<div class="imagediv">
    <img class="imgchck" src="assets/home/HomeJava1.jpg" alt="">
</div> -->




<div class="main">
    <a href="">
    <div class="description">
        <h3>JAVA</h3>
        <p>Java is a programming language.</p>
        <p>Java is used to develop mobile apps, web apps, desktop apps, games and much more.</p>
        <p>Java is an object oriented language and some concepts may be new.</p>
        <p>Take breaks when needed, and go over the examples as many times as needed.</p>
        <p>Go to the theory for basic learning of java.</p>
    </div></a>
    <div>
        <img class="homeimg" src="assets/home/HomeJava1.jpg" alt="">
    </div>
</div>


<div class="main">
    <div>
        <img class="homeimg" src="assets/home/lecture1.png" alt="">
    </div>
    <a href="">
        <div class="description">
            <h3>Lecture</h3>
            <p>We have the premium playlist of exciting video lectures.</p>
            <p>24x7 video lectures accessibility.</p>
            <p>Student can access & see lectures anytime and anywhere till course valid.</p>
            <p>Students have both English & Hindi language options.</p>
            <p>Students can also post their doubts.</p>
        </div>
    </a>
</div>


<div class="main">
    <a href="">
    <div class="description">
        <h3>Challenges</h3>
        <p class="quote">"Action is the fundamental key to success."</p>
        <p>There are many company's challenges for practice & hiring purpose.</p>
        <p>Company's assessments are coding problems to see student coding knowledge.</p>
        <p>This section provide the platform to participate in coding challenges & showing up skills set.</p>
        <p>This section also helps student to proove self & IT Companies can take decision for further hiring process.</p>
        <p>This section is the best suitable for placements.</p>
        <p class="quote">EAT, SLEEP, CODE CODE CODE, REPEAT.</p>
    </div></a>
    <div>
        <img class="homeimg" src="assets/home/challenge1.png" alt="">
    </div>
</div>


<div class="main">
    <div>
        <img class="homeimg" src="assets/home/mentor1.jpg" alt="">
    </div>
    <a href="">
    <div class="description">
        <h3>Mentor Support</h3>
        <p class="quote">“Mentoring is a brain to pick, an ear to listen, and a push in the right direction.”</p>
        <p>We provide mentor support for train students individually.</p>
        <p>Mentor will assign to the students for solving their doubts, give guidance for improving skill required for a pro.</p>
        <p>Mentoring helps you to feel like you are working in the industry.</p>
        <p class="quote">"Who sweats more in training bleeds less in war"</p>
    </div></a>
</div>


<div class="main">
    <a href="">
    <div class="description">
        <h3>Project Assistance</h3>
        <p>Guide you to work on various projects.</p>
        <p>Guide you to think about various aspects of project like Who, How, What, Why, When, Where.</p>
        <p>Provide a live project supporting environment with a team.</p>
    </div></a>
    <div>
        <img class="homeimg" src="assets/home/project1.jpg" alt="">
    </div>
</div>


<div class="footer">
    <div class="footer-header">
        <h1>Contact Us</h1>
    </div>

    <div>
        <a href=""><img class="logo" src="assets/logo1.png" alt="logo"/></a>
    </div>

    <div class="footer-text">
        <p>For any queries contact us on: 9034885110, 8397030300</p>
        <a class="connection" href="https://www.instagram.com/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" width="30" height="30" alt="">
        </a>
        <a class="connection" href="https://www.facebook.com/">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSUZaeLfDjQDJIBiwSwEK2f7h-JJ5ZZB0skzXSWgY89IrP5wz73&usqp=CAU" width="30" height="30" alt="">
        </a>
    </div>

    <div class="footer-end">
        <p>JavaWorld All rights reserved</p>
    </div>
</div>