<div class="main-div">
    <div class="content">
        <h3 class="content-heading">JAVA Tutorial</h3>
        <div class="content-list">
            <p><a routerLink="/page1">Introduction to JAVA</a></p>
            <p><a routerLink="/page2">Environment Setup</a></p>
            <p><a routerLink="/page3">First Program</a></p>
            <p><a routerLink="/page4">DataTypes, Variables</a></p>
            <p><a routerLink="/page5">Type conversion</a></p>

            <p><a routerLink="/page6" class="active">Classes & Objects</a></p>
            
            <p><a routerLink="/page7">Static Keyword</a></p>
            <p><a routerLink="/page8">Wrapper classes</a></p>
            <p><a routerLink="/page9">Command Line Arguments</a></p>
            <p><a routerLink="/page10">Use of Import</a></p>
            <p><a routerLink="/page11">Constructor</a></p>
            <p><a routerLink="/page12">Inheritance</a></p>
            <p><a routerLink="/page13"></a></p>
            <p><a routerLink="/page14"></a></p>
            <p><a routerLink="/page15"></a></p>
            <p><a routerLink="/page16"></a></p>
            <p><a routerLink="/page17"></a></p>
            <p><a routerLink="/page18"></a></p>
            <p><a routerLink="/page19"></a></p>
            <p><a routerLink="/page20"></a></p>
            <p><a routerLink="/page21"></a></p>
            <p><a routerLink="/page22"></a></p>
            <p><a routerLink="/page23"></a></p>
            <p><a routerLink="/page24"></a></p>
            <p><a routerLink="/page25"></a></p>
            <p><a routerLink="/page26"></a></p>
            <p><a routerLink="/page27"></a></p>
        </div>
    </div>

    <div class="theory-div">
        <div class="card">
            <h1>Java is a object-oriented: </h1>
            <p>As Java is a object-oriented language so it support fundamental OOP concepts follows:</p>
            <ul>
                <li><b>Abstraction</b></li>
                <li><b>Polymorphism</b></li>
                <li><b>Inheritance</b></li>
                <li><b>Encapsulation</b></li>
            </ul>
        </div>

        <div class="card">
            <p>So classes & objects is implemented via OOP concepts:</p>
            <ul>
                <li>
                    <b>Classes: </b>
                    A class is a blueprint or prototype from which objects are created.
                </li>
                <li>
                    <b>Objects: </b>
                    An object is a software bundle of related state and behaviour. Example Car has a states-
                    Color, Model as well as behaviours- driving, engine start/stop. An object is an instance
                    of a class. Object is the runtime entity it always get the memory at runtime.
                </li>
            </ul>
        </div>

        <div class="code-snippet">
            <div class="code">
                <!-- public class Demo{
                    int l=10;
                    int b=5;
    
                    public int getArea(int x, int y){
                        return x*y;
                    }
    
                    public static void main(String[] args){
                        Demo demo = new Demo();
                        int area = demo.getArea(demo.l , demo.b);
                        System.out.println("Area of rectangle is "+area);
                    }
                } -->
            </div>
            <div class="output">
                Area of rectangle is 50
            </div>
        </div>

        <div class="card">
            <h1>Creating Objects</h1>
            A class provides the blueprint for objects; you create an object from a class.
            <br>
            <p>
                <b>Statemet: </b>
                Demo <b>demo</b> = new Demo();
            </p>
            <p>Above statement has three parts:</p>
            <ol>
                <li>
                    <b>Declaration: </b>
                    The word <b>demo</b> is the variable declaration that associate a variable name with an Demo(object) type.
                </li>
                <li>
                    <b>Instantiation: </b>
                    The 'new' keyword is a Java operator that creates the object.
                </li>
                <li>
                    <b>Initialization: </b>
                    The new operator is followed by a call to a constructor, which initializes the new object.
                </li>
            </ol>
        </div>

    </div>

    <div class="page-navigation">
        <div>
            <a routerLink="/page5"><button class="previous round">&#8249;&#8249; Previous</button></a>
        </div>
        <div>
            <a routerLink="/page7"><button class="next round">Next &#8250;&#8250;</button></a>
        </div>
    </div>
</div>