<div class="main-div">
    <div class="content">
        <h3 class="content-heading">JAVA Tutorial</h3>
        <div class="content-list">
            <p><a routerLink="/page1" class="active">Introduction to JAVA</a></p>

            <p><a routerLink="/page2">Environment Setup</a></p>
            <p><a routerLink="/page3">First Program</a></p>
            <p><a routerLink="/page4">DataTypes, Variables</a></p>       
            <p><a routerLink="/page5">Type conversion</a></p>
            <p><a routerLink="/page6">Classes & Objects</a></p>
            <p><a routerLink="/page7">Static Keyword</a></p>
            <p><a routerLink="/page8">Wrapper classes</a></p>
            <p><a routerLink="/page9">Command Line Arguments</a></p>
            <p><a routerLink="/page10">Use of Import</a></p>
            <p><a routerLink="/page11">Constructor</a></p>
            <p><a routerLink="/page12">Inheritance</a></p>
            <p><a routerLink="/page13"></a></p>
            <p><a routerLink="/page14"></a></p>
            <p><a routerLink="/page15"></a></p>
            <p><a routerLink="/page16"></a></p>
            <p><a routerLink="/page17"></a></p>
            <p><a routerLink="/page18"></a></p>
            <p><a routerLink="/page19"></a></p>
            <p><a routerLink="/page20"></a></p>
            <p><a routerLink="/page21"></a></p>
            <p><a routerLink="/page22"></a></p>
            <p><a routerLink="/page23"></a></p>
            <p><a routerLink="/page24"></a></p>
            <p><a routerLink="/page25"></a></p>
            <p><a routerLink="/page26"></a></p>
            <p><a routerLink="/page27"></a></p>
        </div>
    </div>

    <div class="theory-div">
        <div class="card">
            <h1>Introduction to JAVA</h1>
            <p>Java is a programming language and computing platform first released by Sun Microsystems in 1995.</p>
            <p>Java is a high-level object oriented programming language.</p>
            <p>
                There are lots of applications and websites that will not work unless you have Java installed, and more are created every day.
                Java is fast, secure, and reliable. From laptops to datacenters, game consoles to scientific supercomputers, cell phones to the
                Internet, Java is almost everywhere.
            </p>
            <p>
                Learning of language like Javascript, C#, or C++ becomes much easier if you learn java as java derives its syntax from C.
            </p>
        </div>
        
        <br>
        <br>
        <br>

        <div class="card">
            <h3>Why We Need java:</h3>
            <p>
                As java is open-source & platform independent language. Java used almost everywhere 
                because it is easy to learn. One who want to become good Software Engineer must learn java.
                You can see the various features of java why you must learn the java.
            </p>
        </div>

        <br>
        <br>
        <br>
        
        <div class="card">
            <h3>Features of Java:</h3>
            <p>Their are many features of Java but the main features of Java are:</p>
            <ol>
                <li><b>Object Oriented: </b>In java everything is represent in the form of object except the <b>primitive</b> data types.
                    Java is based on object model.
                </li>
                <br>
                <li><b>Secure: </b>With this feature it enables to develop virus-free systems & it also provides public-key encryption.</li>
                <br>
                <li><b>Platform Independent: </b>
                    When Java source code is compiled,
                    it is not compiled into platform specific machine, rather into platform independent byte code(.class file).
                    Byte code is distributed over web & interpreted by the Java
                    Virtual Machine(JVM) on whichever platform it is being run on.
                </li>
                <br>
                <li><b>Architecture-neutral: </b>
                    Java compiler generates an architecture-neutral object file format,
                    which makes the compiled code executable on many processors, with the presence of Java runtime system.
                </li>
                <br>
                <li><b>Portable: </b>
                    It also a primary objective of Java programming language creation was to make it portable.
                    It means that you can run Java bytecode on any hardware that has a compliant JVM.
                </li>
                <br>
                <li><b>Multithreaded: </b>
                    This feature allows concurrent execution of two or more parts of a program for
                    maximum utilization of CPU ideal time.
                </li>
                <br>
                <li><b>Robust: </b>Java is robust means strong. In Java there is no concept of pointers & also java use
                    strong memory-management & automatic garbage collection.
                </li>
            </ol>
        </div>

        <br>
        <br>
        <br>

        <div class="image-card">
            <img src="assets/page1/page1img1.png">
            <label>An overview of software development process</label>
        </div>

        <br>
        <br>
        <br>

        <div class="card">
            <h3>What Can Java technology Do?</h3>
            <p>
                The general-purpose, high-level programming language is a powerful software platform.
                Every full implementation of the Java platform gives you the following features:
            </p>
            <ul>
                <li>
                    <b>Development Tools: </b>
                    The development tools provide everything  you'll need for compiling, running,
                    monitoring, debugging and documentating your application.
                    As a new developer, the main tools you'll be using are the javac compiler, the java launcher,
                    and the javadoc documentation tool.
                </li>
                <br>
                <li>
                    <b>Application Prigramming Interface (API): </b>
                    The API provides the core functionality of the Java programming language. It offers a wide array
                    of useful classes for use in your own applications. It spans everything from basic objects, to networking
                    and security, to XML generation and databse access and more.
                </li>
                <br>
                <li>
                    <b>Deployment Technologies: </b>
                    The JDK software provides standard mechaisms such as the Java Web Start Software and Java Plug-In software
                    for deploying your applications to end users.
                </li>
                <br>
                <li>
                    <b>User Interface Toolkits: </b>
                    The JavaFX, Swing and Java 2D toolkits make it possible to create sophisticated Graphical User Interfaces(GUIs).
                </li>
                <br>
                <li>
                    <b>Integration Libraries: </b>
                    Integration libraries such as the Java IDL API, JDBC API, Java Name and Directory Interface (JNDI) API,
                    Java RMI and Java Remote Method Invocation over Internet Inter-ORB Protocol Technology (Java RMI-IIOP Technology)
                    enable database access and manipulation of remote objects.
                </li>
            </ul>
        </div>
    </div>

    <div class="page-navigation">
        <div>
            <a routerLink="/home"><button class="previous round">Home</button></a>
        </div>
        <div>
            <a routerLink="/page2"><button class="next round">Next &#8250;&#8250;</button></a>
        </div>
    </div>

</div>