<div class="main-div">
    <div class="content">
        <h3 class="content-heading">JAVA Tutorial</h3>
        <div class="content-list">
            <p><a routerLink="/page1">Introduction to JAVA</a></p>
            <p><a routerLink="/page2">Environment Setup</a></p>
            <p><a routerLink="/page3">First Program</a></p>
            <p><a routerLink="/page4">DataTypes, Variables</a></p>
            <p><a routerLink="/page5">Type conversion</a></p>
            <p><a routerLink="/page6">Classes & Objects</a></p>
            <p><a routerLink="/page7">Static Keyword</a></p>
            <p><a routerLink="/page8">Wrapper classes</a></p>
            <p><a routerLink="/page9">Command Line Arguments</a></p>
            <p><a routerLink="/page10">Use of Import</a></p>

            <p><a routerLink="/page11" class="active">Constructor</a></p>

            <p><a routerLink="/page12">Inheritance</a></p>
            <p><a routerLink="/page13"></a></p>
            <p><a routerLink="/page14"></a></p>
            <p><a routerLink="/page15"></a></p>
            <p><a routerLink="/page16"></a></p>
            <p><a routerLink="/page17"></a></p>
            <p><a routerLink="/page18"></a></p>
            <p><a routerLink="/page19"></a></p>
            <p><a routerLink="/page20"></a></p>
            <p><a routerLink="/page21"></a></p>
            <p><a routerLink="/page22"></a></p>
            <p><a routerLink="/page23"></a></p>
            <p><a routerLink="/page24"></a></p>
            <p><a routerLink="/page25"></a></p>
            <p><a routerLink="/page26"></a></p>
            <p><a routerLink="/page27"></a></p>
        </div>
    </div>

    <div class="theory-div">
        <div class="card">
            <ul>
                <h1>Constructor</h1>
                <li>
                    Constructor is the special member function used to initialize the object.
                </li>
                <li>
                    Putting in the values into the properties of an object while creating it this process
                    is called object initialization, or you can say,
                    Putting the values into the data members of an object while creating it.
                </li>
                <li>
                    A Java constructor is special method that is called when an object is instantiated.
                    Instantiation means making a object that is using the new keyword.
                </li>
                <li>
                    A constructor is used to initialize the state of an object.
                </li>
                <li>
                    Constructor always return <i><b>reference Id</b></i>.
                </li>
                <i class="highlight">
                    No class can exist without constructor.
                </i>
                <li>
                    If their is no constructor in the class then one non-parameterized constructor(Default Constructor)
                    will be inserted into the class by compiler.
                </li>
                <li>
                    <b>Simply </b>
                    if you want any task (like database connection, Network) to perform only once in the lifecycle of 
                    an object just put the code of that
                    task into the constructor.
                </li>
                <li>
                    <i>
                        Whenever you want to initialized the data member of each object with the same values then always 
                        use default constructor and this concept is known as <b>static initialization of non-static data member</b>.
                    </i>
                </li>
                <li>
                    <i>
                        If you want to initialized the data member of each object with the different different values then always 
                        use parameterized constructor and this concept is known as <b>dynamic initialization of non-static data member</b>.
                    </i>
                </li>
            </ul>
        </div>

        <div class="code-example">
            <img src="assets/page11/constructor.png">
        </div>
    </div>

    <div class="page-navigation">
        <div>
            <a routerLink="/page10"><button class="previous round">&#8249;&#8249; Previous</button></a>
        </div>
        <div>
            <a routerLink="/page12"><button class="next round">Next &#8250;&#8250;</button></a>
        </div>
    </div>
</div>

<!-- {
    "script" : "public class Demo{ public static void main(String[] args){ System.out.print(\"This is java\"); } }",
    "language": "java",
    "versionIndex": "1",
    "clientId": "87b27cfb7c82a939cc3ef98b897fef64",
    "clientSecret": "a57f5f338cba87148563f0fc7ea82b6ee1dc7fa1a5318f6e9dcd27dc0bfdcf30"
 } -->

