<div class="main-div">
    <div class="content">
        <h3 class="content-heading">JAVA Tutorial</h3>
        <div class="content-list">
            <p><a routerLink="/page1">Introduction to JAVA</a></p>
            <p><a routerLink="/page2">Environment Setup</a></p>
            <p><a routerLink="/page3">First Program</a></p>
            <p><a routerLink="/page4">DataTypes, Variables</a></p>
            <p><a routerLink="/page5">Type conversion</a></p>
            <p><a routerLink="/page6">Classes & Objects</a></p>
            <p><a routerLink="/page7">Static Keyword</a></p>
            <p><a routerLink="/page8">Wrapper classes</a></p>

            <p><a routerLink="/page9" class="active">Command Line Arguments</a></p>

            <p><a routerLink="/page10">Use of Import</a></p>
            <p><a routerLink="/page11">Constructor</a></p>
            <p><a routerLink="/page12">Inheritance</a></p>
            <p><a routerLink="/page13"></a></p>
            <p><a routerLink="/page14"></a></p>
            <p><a routerLink="/page15"></a></p>
            <p><a routerLink="/page16"></a></p>
            <p><a routerLink="/page17"></a></p>
            <p><a routerLink="/page18"></a></p>
            <p><a routerLink="/page19"></a></p>
            <p><a routerLink="/page20"></a></p>
            <p><a routerLink="/page21"></a></p>
            <p><a routerLink="/page22"></a></p>
            <p><a routerLink="/page23"></a></p>
            <p><a routerLink="/page24"></a></p>
            <p><a routerLink="/page25"></a></p>
            <p><a routerLink="/page26"></a></p>
            <p><a routerLink="/page27"></a></p>
        </div>
    </div>

    <div class="theory-div">
        <div class="card">
            <h1>Command Line Arguments</h1>
            <p>
                A Java application can accept any number of arguments from the command line.
            </p>
            <p>
                It is information passed to the program when you run the program.
            </p>
            <p>
                The passed information is stored as a string array in the main method.
                Later, you can use the command line arguments in your program.
            </p>
            <p>
                The Java command-line argument is an argument i.e. passed at the time of running the Java program.
                The arguments passed from the console can be received in the Java program and it can be used as an input.
            </p>
        </div>

        <br>

        <div class="code">
            <h3>Example:</h3>
            <br>
            <div class="code-example" id="code-example"></div>
            <br>
            <p>Run the program with "java Class_Name Arguments"</p>
            <br>
            <p>See the following output.</p>
            <br>
            <img class="code-output" src="assets/page9/CodeOp.PNG">
        </div>
    </div>

    <div class="page-navigation">
        <div>
            <a routerLink="/page8"><button class="previous round">&#8249;&#8249; Previous</button></a>
        </div>
        <div>
            <a routerLink="/page10"><button class="next round">Next &#8250;&#8250;</button></a>
        </div>
    </div>

</div>