<div class="main-div">
    <div class="content">
        <h3 class="content-heading">JAVA Tutorial</h3>
        <div class="content-list">
            <p><a routerLink="/page1">Introduction to JAVA</a></p>
            <p><a routerLink="/page2">Environment Setup</a></p>
            <p><a routerLink="/page3">First Program</a></p>
            <p><a routerLink="/page4">DataTypes, Variables</a></p>
            <p><a routerLink="/page5">Type conversion</a></p>
            <p><a routerLink="/page6">Classes & Objects</a></p>
            <p><a routerLink="/page7">Static Keyword</a></p>
            <p><a routerLink="/page8">Wrapper classes</a></p>
            <p><a routerLink="/page9">Command Line Arguments</a></p>
            
            <p><a routerLink="/page10" class="active">Use of Import</a></p>

            <p><a routerLink="/page11">Constructor</a></p>
            <p><a routerLink="/page12">Inheritance</a></p>
            <p><a routerLink="/page13"></a></p>
            <p><a routerLink="/page14"></a></p>
            <p><a routerLink="/page15"></a></p>
            <p><a routerLink="/page16"></a></p>
            <p><a routerLink="/page17"></a></p>
            <p><a routerLink="/page18"></a></p>
            <p><a routerLink="/page19"></a></p>
            <p><a routerLink="/page20"></a></p>
            <p><a routerLink="/page21"></a></p>
            <p><a routerLink="/page22"></a></p>
            <p><a routerLink="/page23"></a></p>
            <p><a routerLink="/page24"></a></p>
            <p><a routerLink="/page25"></a></p>
            <p><a routerLink="/page26"></a></p>
            <p><a routerLink="/page27"></a></p>
        </div>
    </div>

    <div class="theory-div">
        <div class="card">
            <ul>
                <p>
                    Before starting this tutorial, did you know about packages?
                </p>
                <li>
                    Packages are nothing more than the way we organize files into different
                    directories according to their functionality, usability as well as category they
                    should belong to.
                </li>
                <li>
                    Packages are the collection of similar types of classes & interface.
                </li>
                <li>
                    No, class can exist without any package in Java. If you have not given any package
                    making command in .java file then compiler will create one default package in the same folder
                    and put .class file into that folder, that default package doesnot have any name.
                </li>
                <li>
                    <b>Example: </b>files in java.io package do something related to I/O but files in java.net
                    give us the way to deal with Network.
                </li>
                <p>
                    <b>Note: </b>
                    Package names are written in all lower case to avoid conflict with the names of Classes on Interfaces.
                </p>
            </ul>
        </div>

        <div class="card">
            <p>
                To create a class inside a package, you should declare the package name as the first statement of your program.
            </p>
            <img src="assets/page10/package.png">
        </div>

        <div class="card">
            <h1>Import</h1>
            <ul>
                <li>
                    So import is the keyword in Java.
                </li>
                <li>
                    It is used to import classes of other packages.
                </li>
                <li>
                    <b>import </b>
                    keyword is used to import built-in and user-defined packages into your java source
                    file so that your class can refer to a class that is in another package by directly using its name.
                </li>
                <li>
                    <b>Importing a Package Member</b>
                    <p>
                        To import a specific member of the package we need to mention the name of the member like
                        <i>import java.util.Scanner </i> as if we need Scanner class only from util package we import
                        only Scanner class.
                    </p>
                </li>
                <li>
                    <b>Importing Entire Package</b>
                    <p>
                        To import all the types contained in a particular package, use the import statement with the
                        asterisk<b>(*)</b> wild character, like if we want to import all member of util package, we
                        need to write like <i>import java.util.*;</i>.
                    </p>
                </li>
            </ul>
        </div>

        <div class="card">
            <p>
                All import statements should be written above the declaration of the class.
            </p>
            <img src="assets/page10/import.png">
        </div>
    </div>

    <div class="page-navigation">
        <div>
            <a routerLink="/page9"><button class="previous round">&#8249;&#8249; Previous</button></a>
        </div>
        <div>
            <a routerLink="/page11"><button class="next round">Next &#8250;&#8250;</button></a>
        </div>
    </div>

</div>