<div class="main-div">
    <div class="content">
        <h3 class="content-heading">JAVA Tutorial</h3>
        <div class="content-list">
            <p><a routerLink="/page1">Introduction to JAVA</a></p>

            <p><a routerLink="/page2" class="active">Environment Setup</a></p>

            <p><a routerLink="/page3">First Program</a></p>
            <p><a routerLink="/page4">DataTypes, Variables</a></p>       
            <p><a routerLink="/page5">Type conversion</a></p>
            <p><a routerLink="/page6">Classes & Objects</a></p>
            <p><a routerLink="/page7">Static Keyword</a></p>
            <p><a routerLink="/page8">Wrapper classes</a></p>
            <p><a routerLink="/page9">Command Line Arguments</a></p>
            <p><a routerLink="/page10">Use of Import</a></p>
            <p><a routerLink="/page11">Constructor</a></p>
            <p><a routerLink="/page12">Inheritance</a></p>
            <p><a routerLink="/page13"></a></p>
            <p><a routerLink="/page14"></a></p>
            <p><a routerLink="/page15"></a></p>
            <p><a routerLink="/page16"></a></p>
            <p><a routerLink="/page17"></a></p>
            <p><a routerLink="/page18"></a></p>
            <p><a routerLink="/page19"></a></p>
            <p><a routerLink="/page20"></a></p>
            <p><a routerLink="/page21"></a></p>
            <p><a routerLink="/page22"></a></p>
            <p><a routerLink="/page23"></a></p>
            <p><a routerLink="/page24"></a></p>
            <p><a routerLink="/page25"></a></p>
            <p><a routerLink="/page26"></a></p>
            <p><a routerLink="/page27"></a></p>
        </div>
    </div>

    <div class="theory-div">
        <div class="card">
            <h1>Installation/Environment Setup</h1>
            <p>
                As Java is a open-source, so Java SE freely available you can click 
                <a href="https://www.oracle.com/in/java/technologies/javase-downloads.html">here</a> 
                to download JDK according to your OS.
            </p>

            <p>
                After successfully installation you need to set your Environment Variables to set
                path of JDK.
                <!-- , for setting your PATH: most frequently-used environment variable. -->
            </p>
        </div>
        
        <br>
        <br>
        <br>

        <div class="card">
            <h3>Follow Below Steps For Setting Up Path In Windows</h3>
            <ol>
                <li>Click on <b>My Computer</b> then click on <b>Properties</b></li>
                <br>
                <img class="installation-img" src="assets/page2/installationStep1.png">
                <br>
                <li>Go to <b>Advance system settings</b> then click on <b>Environment variables</b>.</li>
                <br>
                <img class="installation-img" src="assets/page2/installationStep2.png">
                <br>
                <img class="installation-img" src="assets/page2/installationStep3.png">
                <br>
                <li>Change path location to <b>/java/jdk/bin</b>.</li>
                <br>
                <img class="installation-img" src="assets/page2/installationStep4.png">
            </ol>
        </div>

        <br>
        <br>
        <br>
        
        <div class="card">
            <h3>Where you edit Java code?</h3>
            <p>Their are many editors for Java but the most popular are:</p>
            <ol>
                <li>
                    <b>Notepad: </b>You can use any text editor like <b>Notepad, TextPad, Notepad++ </b> etc.
                </li>
                <br>
                <li>
                    <b>Eclipse: </b>
                    It is a Java IDE & also most popular. It is completely a opensource IDE.
                    You can download it from <a href="https://www.eclipse.org/">here</a>.
                </li>
                <br>
                <li>
                    <b>IntelliJ IDEA: </b>
                    This IDE is almost same as eclipse but IntelliJ IDEA has two versios open-source & paid edition also.
                    You can download it from <a href="https://www.jetbrains.com/idea/">here</a>.
                </li>
                <br>
                <li><b>Netbeans: </b>
                    This IDE is also open-source & is available for variety of OS.
                    You can download it from <a href="https://netbeans.org/">here</a>.
                </li>
            </ol>
        </div>
    </div>

    <div class="page-navigation">
        <div>
            <a routerLink="/page1"><button class="previous round">&#8249;&#8249; Previous</button></a>
        </div>
        <div>
            <a routerLink="/page3"><button class="next round">Next &#8250;&#8250;</button></a>
        </div>
    </div>
</div>