<nav>
    <a routerLink="/"><img class="logo" src="assets/logo1.png" alt="logo"/></a>
    
    <ul class="premium" id="premium">
        <li><a href="">My Course<span class="notify-badge">Premium</span></a></li>
        <li><a href="#" routerLink="/page1">Tutorial</a></li>
        <li><a href="">Challenges<span class="notify-badge">Premium</span></a></li>
    </ul>

	<ul>
		<li><a routerLink="/">Home</a></li>
		<li><a routerLink="/login">Login</a></li>
		<li><a routerLink="/signup">SignUp</a></li>
	</ul>
</nav>










<!-- <ul>
    <li><a href = "${pageContext.request.contextPath}/home">Home</a></li>
    <li><a href = "${pageContext.request.contextPath}/login">Login</a></li>
    <li><a href = "${pageContext.request.contextPath}/signup">SignUp</a></li>
</ul> -->